# Dependencies
node_modules/
/node_modules

# Backend
server/node_modules/

# Build
/build
/.env
/server/.env

# Database
*.db
server/database/*.db

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/

# Temporary
tmp/
temp/
